name: Automated Data Preprocessing

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_muhamad_rivaldo_maulana.py

      - name: Commit and push preprocessed dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/dataset_preprocessing.csv
          git commit -m "Auto-update preprocessed dataset" || echo "No changes to commit"
          git push
